@font-face {
  font-family: "Space Grotesk";
  src: local("Space Grotesk"), url("/SpaceGrotesk.ttf") format("truetype");
}

:root {
  --black: #151515;
  --grey: #d9d9d9;
  --green: #4ee1a0;
  --dark-grey: #242424;

  font-family: "Space Grotesk", sans-serif;
  color: white;
  background-color: var(--black);
}
